{% load static %} <!-- to load static file into templates-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Discord Web</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/main.css'%}">  <!-- let the link know where is the style located-->
    </head>
    <body>
        {% include 'navbar.html' %}
        {% block content %}
        
        
        {% endblock %}
    </body>
</html>