{% extends 'main.html' %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <label>Name :</label>
        <input type="text" placeholder="Please Enter a name" name='username'>
    
        <label>Password :</label>
        <input type="password" placeholder="Please Enter a name" name='password'>

        <input type="submit" value='Login'>

        <div style="margin-top: 10px;">
            <a href="{% url 'signup' %}" >Haven't sign up yet ?</a>
        </div>
        
    </form>
{% endblock %}